<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Emotion Detection History</h1>
    <table border="1" cellpadding="8">
        <tr><th>Name</th><th>Image</th><th>Emotion</th><th>Date</th></tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td><img src="{{ row[1] }}" width="100"></td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
